@import url('https://fonts.googleapis.com/css?family=Roboto');

body
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;


.logo
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.11rem;
    text-decoration: none;
    float: left;

.wrap
    position relative  
    border-radius 4px   
    width 75%
    left 0
    right 0
    top 0
    bottom 0
    margin auto
    height 30px 
    margin-top 2%
    display block

    
.searchTerm 
    width: calc(100% - 42px);
    border: none
    font-size: 1.2rem;
    height: 40px;
    outline: none;
    display: inline-block;
    background: transparent
    color: #9DBFAF;

.searchTerm:focus
    color: #42a1f4;

.searchButton 
    float right
    width: 40px;
    background: transparent;
    text-align: center;
    border none
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    display: inline-block;

.searchButton:focus 
    outline none

.container
    width: 80%;
    left 0
    right 0
    top 0
    bottom 0
    margin auto
    height 80%
    position absolute

.learning-tracks
    position relative  
    border-radius 4px   
    width 75%
    left 0
    right 0
    top 0
    bottom 0
    margin auto
    height 80%
    z-index -1
    height 420px 
    margin-top 2%

.learning-track
    margin: 2%


nav a 
    float: right
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.11rem;
    text-decoration: none;
   




